<mat-sidenav-container class="sidenav-container" *ngIf="config() as config">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <mat-toolbar class="toolbar-sidenav">
      @if (config.logo) {
        <img [ngSrc]="appPathName + config.logo" width="50" height="50" alt="logo" [loading]="'lazy'">
      }
    </mat-toolbar>

    <mat-nav-list>
      @for (link of config?.links; track link.url) {
        <a mat-list-item [routerLink]="link.url" routerLinkActive="active">
          <span matListItemTitle>{{ link.title }}</span>
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
        </a>
      }

    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ config?.title }}</span>
    </mat-toolbar>
    <main class="app-main">
      <ng-content select="app-main" class="app-main"></ng-content>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
