<h1 class="mat-title-large">Home</h1>

<mat-card class="app-card">
  <mat-card-header>
    <div mat-card-avatar class="app-header-image"></div>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-subtitle>Zoneless</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Shiba Inu">
  <mat-card-content>
    <p>Hello from {{ name() }}!</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="handleClick()">Go Zoneless</button>
  </mat-card-actions>
</mat-card>





